
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #17a2b8;
    color: #fff;
}
/* Make Select2 behave like Bootstrap inputs inside input-group */
.input-group .select2-container {
    flex: 1 1 auto !important;
    width: 1% !important;
}

.select2-container .select2-selection--single {
    height: 38px !important; /* same as .form-control height */
    line-height: 38px !important;
    padding: 6px 12px !important;
}

.select2-selection__rendered {
    line-height: 38px !important;
}

.select2-selection__arrow {
    height: 38px !important;
}

/* make BS stepper responsive */
/* Make stepper header scrollable on small screens */
.bs-stepper-header {
  display: flex;
  flex-wrap: nowrap; /* keep in single row */
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.brand-image {
  max-height: 52px !important;
  width: 89%;
}

.brand-link .brand-image {
  float : none;
}

.select2-container.is-invalid .select2-selection {
    border-color: #dc3545;
}

.select2-container.is-valid .select2-selection {
    border-color: #28a745;
}

select.is-valid {
    border-color: #28a745;
}

select.is-invalid {
    border-color: #dc3545;
}

/* .icheckbox.is-invalid .iCheck-helper {
    background-color: #ffe6e6; 
    border: 1px solid red;   
    border-radius: 50%;
}

.icheckbox.is-valid .iCheck-helper {
    background-color: #e6ffe6; 
    border: 1px solid green;
    border-radius: 50%;
} */

.icheckbox.is-invalid > input:first-child:not(:checked):not(:disabled) + label::before, 
.icheckbox.is-invalid > input:first-child:not(:checked):not(:disabled) + input[type="hidden"] + label::before {
    border: 1px solid red;     /* red border */
    border-radius: 50%;
}

 
/* Shrink circle and label on small devices */
@media (max-width: 768px) {
  .bs-stepper .bs-stepper-circle {
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
  }
  .bs-stepper .bs-stepper-label {
    font-size: 0.8rem;
  }
  .bs-stepper .line {
    flex-grow: 1;
  }
}
 


